html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: pro;
  src: url(fonts/ROHH\ \ Akwe\ Pro\ Black.otf);
}

/* DIV OF HEADER DIVS */
.header {
  /* position */
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* border */
  border-color: aqua;
}

/* DIV OF IMAGE */
.logo {
  /* position */
  width: 10%;
  display: inline-block;
  justify-content: center;
  margin-right: 3%;
  /* border */

  border-color: black;
}

/* DIV OF TITLE */
.title {
  /* position */
  justify-content: center;
  display: table;
  overflow: auto;
  width: fit-content;
  height: fit-content;
  /* font */
  font-family: "pro";
  /* border */

  border-color: brown;
}

/* IMAGE */
#logopic {
  /* position */
  width: 100%;
  height: 100%;
  display: block;
  /* border
  
  border-color: blue; */
}

/* TEXT */
#ydsa,
#fiu {
  /* position */
  text-align: center;
  margin: 0;
  width: 100%;
  height: 100%;
  display: block;
  top: 50%;
  font-size: 3vw;
  color: #081e3f;
  /* border */

  border-color: violet;
}

.content {
  text-align: center;
  table-layout: fixed;
  border-collapse: collapse;
}

.btn {
  align-items: center;
  background-color: #b6862c;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 1.75vh;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  min-height: 1rem;
  margin: 0.2%;
  padding: calc(0.875rem - 1px) calc(1vh - 1px);
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: inline-block;
  position: relative;
}

.btn:hover,
.btn:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.btn:hover {
  transform: translateY(-10px);
}

.btn:active {
  background-color: #b6862c;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.join {
  text-align: center;
}

.joinus {
  text-align: center;
  margin: 1%;
  align-items: center;
  background-color: #98191c;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 1.75vh;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  min-height: 1rem;
  padding: calc(0.875rem - 1px) calc(1vh - 1px);
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: inline-block;
  position: relative;
  width: 50%;
}

.joinus:hover,
.joinus:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: #ffffff;
}

.joinus:hover {
  transform: translateY(-10px);
}

.joinus:active {
  background-color: #b6862c;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: #ffffff;
  transform: translateY(0);
}

.join {
  text-align: center;
}

#slider {
  overflow: hidden;
}

#image_color {
  width: 90%;
  border-style: solid;
  justify-self: center;
  background-color: #081e3f;
  border-radius: 1.25rem;
  margin: auto;
}

#image_size {
  width: 35%;
  margin: 0 auto;
}

#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 40s slider infinite;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10%;
}

#slider figure img {
  width: 20%;
  margin: 0;
  top: 50%;
  vertical-align: middle;
  border-radius: 1rem;
}

#igpic {
  width: 7%;
  display: block;
  margin: 2% auto;
  transition: all 250ms;
}

#insta {
  display: table-cell;
  vertical-align: middle;
}

.igtitle {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: block;
  margin: auto;
}

#igydsa {
  font-family: "pro";
  font-size: 3vw;
  color: #ffffff;
  transition: all 250ms;
}

#igpic:hover,
#igpic:focus,
#igydsa:hover,
#igydsa:focus {
  border-color: rgba(0, 0, 0, 0.15);
  color: #ffffff;
}

#igpic:hover,
#igydsa:hover {
  transform: translateY(-5px);
}

#igpic:active,
#igydsa:active {
  background-color: #b6862c;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: #ffffff;
  transform: translateY(0);
}

@keyframes slider {
  0% {
    left: 0;
  }
  6.25% {
    left: 0;
  }
  12.5% {
    left: -100%;
  }
  18.75% {
    left: -100%;
  }
  25% {
    left: -200%;
  }
  31.25% {
    left: -200%;
  }
  37.5% {
    left: -300%;
  }
  43.75% {
    left: -300%;
  }
  50% {
    left: -400%;
  }
  56.25% {
    left: -400%;
  }
  62.5% {
    left: -300%;
  }
  68.75% {
    left: -300%;
  }
  75% {
    left: -200%;
  }
  81.25% {
    left: -200%;
  }
  87.5% {
    left: -100%;
  }
  93.75% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

#about {
  display: block;
  align-items: center;
  width: 100%;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

#ydsalogo2 {
  width: 30%;
  margin-left: auto;
  margin-right: 10%;
  float: right;
  margin-top: 0%;
}

#aboutus {
  width: 50%;
  /* margin: 8%; */
}

#about h1 {
  text-align: center;
  font-family: "pro";
  font-size: 3vw;
  z-index: 500;
  position: relative;
  display: block;
  margin-top: 5%;
  margin-bottom: 2%;
}

#aboutus p {
  text-align: left;
  width: 100%;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-weight: bold;
  font-size: 1.75vw;
  float: left;
  margin-left: 15%;
}

#our_programs {
  text-align: center;
  height: 100%;
  width: 90%;
  border-color: #081e3f;
  border-width: thick;
  border-radius: 4vh;
  border-style: solid;
  margin: auto;
}

#joinus2 {
  margin-bottom: 3%;
}

#programs {
  font-family: "pro";
  font-size: 3vw;
}

#our_programs img {
  width: 95%;
}

#our_programs div {
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-weight: normal;
  font-size: 1.6vw;
  margin-top: -6%;
  display: inline-block;
  text-align: left;
  margin-left: 2%;
  margin-right: 2%;
  width: 28%;
  margin-bottom: 2%;
}
