html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: pro;
  src: url(fonts/ROHH\ \ Akwe\ Pro\ Black.otf);
}

/* DIV OF HEADER DIVS */
.header {
  /* position */
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* border */
  border-color: aqua;
}

/* DIV OF IMAGE */
.logo {
  /* position */
  width: 10%;
  display: inline-block;
  justify-content: center;
  margin-right: 3%;
  /* border */

  border-color: black;
}

/* DIV OF TITLE */
.title {
  /* position */
  justify-content: center;
  display: table;
  overflow: auto;
  width: fit-content;
  height: fit-content;
  /* font */
  font-family: "pro";
  /* border */

  border-color: brown;
}

/* IMAGE */
#logopic {
  /* position */
  width: 100%;
  height: 100%;
  display: block;
  /* border
  
  border-color: blue; */
}

/* TEXT */
#ydsa,
#fiu {
  /* position */
  text-align: center;
  margin: 0;
  width: 100%;
  height: 100%;
  display: block;
  top: 50%;
  font-size: 3vw;
  color: #081e3f;
  /* border */

  border-color: violet;
}

.content {
  text-align: center;
  table-layout: fixed;
  border-collapse: collapse;
}

.btn {
  align-items: center;
  background-color: #b6862c;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 1.75vh;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  min-height: 1rem;
  margin: 0.2%;
  padding: calc(0.875rem - 1px) calc(1vh - 1px);
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: inline-block;
  position: relative;
}

.btn:hover,
.btn:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.btn:hover {
  transform: translateY(-10px);
}

.btn:active {
  background-color: #b6862c;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.join {
  text-align: center;
}

.joinus {
  text-align: center;
  margin: 1%;
  align-items: center;
  background-color: #98191c;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 1.75vh;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  min-height: 1rem;
  padding: calc(0.875rem - 1px) calc(1vh - 1px);
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: inline-block;
  position: relative;
  width: 50%;
}

.joinus:hover,
.joinus:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: #ffffff;
}

.joinus:hover {
  transform: translateY(-10px);
}

.joinus:active {
  background-color: #b6862c;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: #ffffff;
  transform: translateY(0);
}

.join {
  text-align: center;
}

#slider {
  overflow: hidden;
}

#image_color {
  width: 90%;
  border-style: solid;
  border-color: #081e3f;
  justify-self: center;
  background-color: #081e3f;
  border-radius: 1.25rem;
  margin: auto;
}

#gbm1 {
  width: 60%;
}

#image_size {
  width: 35%;
  margin: 0 auto;
}

#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 40s slider infinite;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10%;
}

#slider figure img {
  width: 20%;
  margin: 0;
  top: 50%;
  vertical-align: middle;
  border-radius: 1rem;
}

#igpic {
  width: 7%;
  display: block;
  margin: 2% auto;
  transition: all 250ms;
}

#insta {
  display: table-cell;
  vertical-align: middle;
}

.igtitle {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: block;
  margin: auto;
}

#igydsa {
  font-family: "pro";
  font-size: 3vw;
  color: #ffffff;
  transition: all 250ms;
}

#igpic:hover,
#igpic:focus,
#igydsa:hover,
#igydsa:focus {
  border-color: rgba(0, 0, 0, 0.15);
  color: #ffffff;
}

#igpic:hover,
#igydsa:hover {
  transform: translateY(-5px);
}

#igpic:active,
#igydsa:active {
  background-color: #b6862c;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: #ffffff;
  transform: translateY(0);
}

@keyframes slider {
  0% {
    left: 0;
  }
  6.25% {
    left: 0;
  }
  12.5% {
    left: -100%;
  }
  18.75% {
    left: -100%;
  }
  25% {
    left: -200%;
  }
  31.25% {
    left: -200%;
  }
  37.5% {
    left: -300%;
  }
  43.75% {
    left: -300%;
  }
  50% {
    left: -400%;
  }
  56.25% {
    left: -400%;
  }
  62.5% {
    left: -300%;
  }
  68.75% {
    left: -300%;
  }
  75% {
    left: -200%;
  }
  81.25% {
    left: -200%;
  }
  87.5% {
    left: -100%;
  }
  93.75% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

#about {
  display: block;
  align-items: center;
  width: 100%;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

#ydsalogo2 {
  width: 30%;
  margin-left: auto;
  margin-right: 10%;
  float: right;
  margin-top: 0%;
}

#aboutus {
  width: 50%;
  /* margin: 8%; */
}

#about h1 {
  text-align: center;
  font-family: "pro";
  font-size: 3vw;
  z-index: 500;
  position: relative;
  display: block;
  margin-top: 5%;
  margin-bottom: 2%;
}

#aboutus p {
  text-align: left;
  width: 100%;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-weight: bold;
  font-size: 1.75vw;
  float: left;
  margin-left: 15%;
}

#our_programs {
  text-align: center;
  height: 100%;
  width: 90%;
  border-color: #081e3f;
  border-width: thick;
  border-radius: 4vh;
  border-style: solid;
  margin: auto;
}

#joinus2 {
  margin-bottom: 3%;
}

#programs {
  font-family: "pro";
  font-size: 3vw;
}

#our_programs img {
  width: 95%;
}

#our_programs div {
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-weight: normal;
  font-size: 1.6vw;
  margin-top: 1%;
  display: inline-block;
  text-align: left;
  margin-left: 2%;
  margin-right: 2%;
  width: 28%;
  margin-bottom: 5%;
}

#upcoming_events {
  margin-top: 4%;
  border-style: solid;
  text-align: center;
  border-radius: 4vh;
  border-color: #98191c;
  border-width: thick;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

#upcoming_events h1 {
  font-family: "pro";
  font-size: 3vw;
}

#event_images {
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  margin-bottom: 4%;
  font-size: 1.6vw;
}

#membership_perks {
  margin-top: 4%;
  border-style: solid;
  text-align: center;
  border-radius: 4vh;
  border-color: #b6862c;
  border-width: thick;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

#membership_perks h1 {
  font-family: "pro";
  font-size: 3vw;
}

#discord_img {
  width: 50%;
  margin-top: 20%;
  margin-bottom: 0%;
}

#whatsapp_img {
  margin-top: 14%;
  width: 50%;
}

#film_fridays_logo {
  margin-top: 25%;
  width: 100%;
  margin-bottom: 20%;
}

#membership_perks span {
  display: inline-block;
  width: 30%;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-weight: bold;
  font-size: 1.5vw;
  margin-bottom: 5%;
}

#joinus3 {
  margin-top: 2%;
}

#executive_board {
  margin-top: 10%;
  text-align: center;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}

#executive_board h1 {
  font-family: "pro";
  font-size: 3vw;
}
#adam img {
  width: 25%;
  float: right;
  margin-right: 14vw;
  border-radius: 50%;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

#adam h2 {
  margin-left: 20.5vw;
  margin-top: 10%;
  float: left;
  font-size: 3vw;
}

#adam h3 {
  margin-top: 15%;
  margin-left: -12.5vw;
  font-size: 1.5vw;
  float: left;
  font-weight: normal;
}

#adam {
  display: inline-block;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  border-style: solid;
  border-width: thick;
  border-radius: 50vw;
  width: 100%;
}

#emma img {
  width: 25%;
  float: left;
  margin-left: 14vw;
  border-radius: 50%;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

#emma h2 {
  margin-right: 20.75vw;
  float: right;
  font-size: 3vw;
  margin-top: 10%;
}

#emma h3 {
  font-size: 1.5vw;
  margin-top: 15%;
  margin-right: -16vw;
  font-size: 1.5vw;
  float: right;
  font-weight: normal;
}

#emma {
  display: inline-block;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  border-style: solid;
  border-width: thick;
  border-radius: 50vw;
  width: 100%;
}

#jacob img {
  width: 25%;
  float: right;
  margin-right: 14vw;
  border-radius: 50%;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

#jacob h2 {
  margin-left: 13.75vw;
  margin-top: 10%;
  float: left;
  font-size: 3vw;
}

#jacob h3 {
  margin-top: 15%;
  margin-left: -25vw;
  font-size: 1.5vw;
  float: left;
  font-weight: normal;
}

#jacob {
  display: inline-block;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  border-style: solid;
  border-width: thick;
  border-radius: 50vw;
  width: 100%;
}

#oscar img {
  width: 25%;
  float: left;
  margin-left: 14vw;
  border-radius: 50%;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

#oscar h2 {
  margin-right: 24.5%;
  float: right;
  font-size: 3vw;
  margin-top: 10%;
}

#oscar h3 {
  font-size: 1.5vw;
  margin-top: 15%;
  margin-right: -16.5vw;
  font-size: 1.5vw;
  float: right;
  font-weight: normal;
}

#oscar {
  display: inline-block;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  border-style: solid;
  border-width: thick;
  border-radius: 50vw;
  width: 100%;
}

#robin img {
  width: 25%;
  float: right;
  margin-right: 14vw;
  border-radius: 50%;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

#robin h2 {
  margin-left: 20.5vw;
  margin-top: 10%;
  float: left;
  font-size: 3vw;
}

#robin h3 {
  margin-top: 15%;
  margin-left: -15vw;
  font-size: 1.5vw;
  float: left;
  font-weight: normal;
}

#robin {
  display: inline-block;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  border-style: solid;
  border-width: thick;
  border-radius: 50vw;
  width: 100%;
}

#mauricio img {
  width: 25%;
  float: left;
  margin-left: 14vw;
  border-radius: 50%;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

#mauricio h2 {
  margin-right: 22%;
  float: right;
  font-size: 3vw;
  margin-top: 10%;
}

#mauricio h3 {
  font-size: 1.5vw;
  margin-top: 15%;
  margin-right: -14vw;
  font-size: 1.5vw;
  float: right;
  font-weight: normal;
}

#mauricio {
  display: inline-block;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  border-style: solid;
  border-width: thick;
  border-radius: 50vw;
  width: 100%;
}

#josue img {
  width: 25%;
  float: right;
  margin-right: 14vw;
  border-radius: 50%;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

#josue h2 {
  margin-left: 20.5vw;
  margin-top: 10%;
  float: left;
  font-size: 3vw;
}

#josue h3 {
  margin-top: 15%;
  margin-left: -16.5vw;
  font-size: 1.5vw;
  float: left;
  font-weight: normal;
}

#josue {
  display: inline-block;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  border-style: solid;
  border-width: thick;
  border-radius: 50vw;
  width: 100%;
}

#social_medias {
  background-color: #081e3f;
  height: 30vw;
  width: 100%;
  margin: auto;
  border-top-left-radius: 5vh;
  border-top-right-radius: 5vh;
  text-align: center;
  position: relative;
}

#social_medias img {
  margin: 5%;
  transition: all 250ms;
}

#social_medias img:hover,
#social_medias img:focus {
  border-color: rgba(0, 0, 0, 0.15);
  color: #ffffff;
}

#social_medias img:hover {
  transform: translateY(-5px);
}

#social {
  position: absolute;
  top: 25%;
  margin: auto;
}

#twitter {
  width: 11%;
}

#ig {
  width: 10%;
}

#fb {
  width: 10%;
}

a {
  color: inherit;
  text-decoration: none;
}
