* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.star {
  position: relative;
  left: 0;
  top: 0;
  width: 1005;
  height: 500px;
}

.intro {
  position: fixed;
  z-index: 1;
  left: 1;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: crimson;
  transition: 1s;
}
